---
import './CustomColumn.css';

interface Props {
  sm?: number;
  md?: number;
  lg?: number;
  'sm-push'?: number;
  'md-push'?: number;
  'lg-push'?: number;
  class?: string;
}

const {
  sm,
  md,
  lg,
  'sm-push': smPush,
  'md-push': mdPush,
  'lg-push': lgPush,
  class: className = '',
} = Astro.props;

// Build attribute string
let attrs = '';
if (sm !== undefined) attrs += ` sm="${sm}"`;
if (md !== undefined) attrs += ` md="${md}"`;
if (lg !== undefined) attrs += ` lg="${lg}"`;
if (smPush !== undefined) attrs += ` sm-push="${smPush}"`;
if (mdPush !== undefined) attrs += ` md-push="${mdPush}"`;
if (lgPush !== undefined) attrs += ` lg-push="${lgPush}"`;
---

<div class={`custom-column ${className}`}{attrs}>
  <slot />
</div>
