---
import CBooksList from '../../abemit/components/CBooksList.astro';
import CFilters from '../../abemit/components/CFilters.astro';
import ComponentsFields from '../../helpers/interfaces/ComponentsFields.astro';

interface Props {
  items: any[];
  title: string;
  description?: string;
  locale?: string;
  archiveSlug: string;
  bookCategory: 'traduccion' | 'escrito';
  content: any;
  itemsCount: number;
}

const { content, itemsCount = 0, items = [], locale, bookCategory } = Astro.props;

console.log("bookCategory:", bookCategory);

---

<div class="archive-books">
  <ComponentsFields content={content} itemsCount={itemsCount} />

  {bookCategory === 'traduccion' && (
    <CFilters locale={locale} />
  )}

  <CBooksList locale={locale} bookCategory={bookCategory} initialItems={items} initialTotal={itemsCount} pageSize={12} />
</div>